<div id="lobby" class="lobby">
    <p class="text-xl font-bold">
        <span>game id: </span>
        <span id="gameIdTextSlot" class="ml-4">{{ lobbyStore.gameId() }}</span>
    </p>

    <div class="min-h-[300px] min-w-[500px] flex">
        <div class="flex-1 text-center uppercase font-bold text-xl">
            team a
            <ol class="mt-4">
                @for (player of playersA(); track player.name) {
                    <li
                        class="bg-[#0088aa] m-4 py-3 rounded-lg border-purple-500"
                        [class.border-4]="player.id === lobbyStore.player()?.id"
                    >
                        {{ player.host ? "👑" : "" }} {{ player.name }}
                    </li>
                }
            </ol>
        </div>
        <div class="w-2 bg-[#0088aa]"></div>
        <div class="flex-1 text-center uppercase font-bold text-xl">
            team b
            <ol class="mt-4">
                @for (player of playersB(); track player.name) {
                    <li
                        class="bg-[#0088aa] m-4 py-3 rounded-lg border-purple-500"
                        [class.border-4]="player.id === lobbyStore.player()?.id"
                    >
                        {{ player.name }}
                    </li>
                }
            </ol>
        </div>
    </div>
    @if (lobbyStore.player()?.host) {
        <button
            class="btn btn-primary ml-auto"
            type="button"
            (click)="startGame()"
        >
            start game
        </button>
    }
</div>
