<div id="menu" class="menu center max-w-dvw mt-24 sm:mt-32">
    <h1 class="text-[60px] lit-font text-center">
        <span [routerLink]="['/']" class="cursor-pointer"> Play<span class="text-lit">IT</span></span>
    </h1>

    <div class="mt-10 sm:max-w-[500px] sm:px-10 px-2 mx-auto">
        <input
            #name
            id="playerNameInput"
            type="text"
            class="mb-12 rounded-lg"
            placeholder="your name"
            [value]="lobbyStore.user()?.name || ''"
        />

        <button
            id="createBtn"
            class="btn btn-primary w-full"
            type="button"
            (click)="createGame(name.value)"
        >
            create
        </button>

        <p class="text-center text-xl my-4">or</p>

        <div class="flex">
            <input
                #gameId
                class="rounded-l-lg"
                id="gameIdInput"
                type="text"
                name="gameId"
                placeholder="game ID"
                [formControl]="gameIdInput"
                [value]="lobbyStore.gameId() || ''"
            />
            <button
                class="btn btn-secondary rounded-r-lg"
                type="button"
                (click)="joinGame(name.value, gameId.value)"
            >
                join
            </button>
        </div>
        @if (lobbyStore.connectionErrorMessage()) {
            <p class="text-red-500 mt-4">
                {{ lobbyStore.connectionErrorMessage() }}
            </p>
        }
    </div>
</div>
